{:fixture "edn-sample"
 :version "1.0.0"
 :generated-at "2026-03-06"
 :repos [
  {:id 1 :name "repo-1" :stars 103 :active false}
  {:id 2 :name "repo-2" :stars 106 :active true}
  {:id 3 :name "repo-3" :stars 109 :active false}
  {:id 4 :name "repo-4" :stars 112 :active true}
  {:id 5 :name "repo-5" :stars 115 :active false}
  {:id 6 :name "repo-6" :stars 118 :active true}
  {:id 7 :name "repo-7" :stars 121 :active false}
  {:id 8 :name "repo-8" :stars 124 :active true}
  {:id 9 :name "repo-9" :stars 127 :active false}
  {:id 10 :name "repo-10" :stars 130 :active true}
  {:id 11 :name "repo-11" :stars 133 :active false}
  {:id 12 :name "repo-12" :stars 136 :active true}
  {:id 13 :name "repo-13" :stars 139 :active false}
  {:id 14 :name "repo-14" :stars 142 :active true}
  {:id 15 :name "repo-15" :stars 145 :active false}
  {:id 16 :name "repo-16" :stars 148 :active true}
  {:id 17 :name "repo-17" :stars 151 :active false}
  {:id 18 :name "repo-18" :stars 154 :active true}
  {:id 19 :name "repo-19" :stars 157 :active false}
  {:id 20 :name "repo-20" :stars 160 :active true}
  {:id 21 :name "repo-21" :stars 163 :active false}
  {:id 22 :name "repo-22" :stars 166 :active true}
  {:id 23 :name "repo-23" :stars 169 :active false}
  {:id 24 :name "repo-24" :stars 172 :active true}
  {:id 25 :name "repo-25" :stars 175 :active false}
  {:id 26 :name "repo-26" :stars 178 :active true}
  {:id 27 :name "repo-27" :stars 181 :active false}
  {:id 28 :name "repo-28" :stars 184 :active true}
  {:id 29 :name "repo-29" :stars 187 :active false}
  {:id 30 :name "repo-30" :stars 190 :active true}
  {:id 31 :name "repo-31" :stars 193 :active false}
  {:id 32 :name "repo-32" :stars 196 :active true}
  {:id 33 :name "repo-33" :stars 199 :active false}
  {:id 34 :name "repo-34" :stars 202 :active true}
  {:id 35 :name "repo-35" :stars 205 :active false}
  {:id 36 :name "repo-36" :stars 208 :active true}
  {:id 37 :name "repo-37" :stars 211 :active false}
  {:id 38 :name "repo-38" :stars 214 :active true}
  {:id 39 :name "repo-39" :stars 217 :active false}
  {:id 40 :name "repo-40" :stars 220 :active true}
  {:id 41 :name "repo-41" :stars 223 :active false}
  {:id 42 :name "repo-42" :stars 226 :active true}
  {:id 43 :name "repo-43" :stars 229 :active false}
  {:id 44 :name "repo-44" :stars 232 :active true}
  {:id 45 :name "repo-45" :stars 235 :active false}
  {:id 46 :name "repo-46" :stars 238 :active true}
  {:id 47 :name "repo-47" :stars 241 :active false}
  {:id 48 :name "repo-48" :stars 244 :active true}
  {:id 49 :name "repo-49" :stars 247 :active false}
  {:id 50 :name "repo-50" :stars 250 :active true}
  {:id 51 :name "repo-51" :stars 253 :active false}
  {:id 52 :name "repo-52" :stars 256 :active true}
  {:id 53 :name "repo-53" :stars 259 :active false}
  {:id 54 :name "repo-54" :stars 262 :active true}
  {:id 55 :name "repo-55" :stars 265 :active false}
  {:id 56 :name "repo-56" :stars 268 :active true}
  {:id 57 :name "repo-57" :stars 271 :active false}
  {:id 58 :name "repo-58" :stars 274 :active true}
  {:id 59 :name "repo-59" :stars 277 :active false}
  {:id 60 :name "repo-60" :stars 280 :active true}
  {:id 61 :name "repo-61" :stars 283 :active false}
  {:id 62 :name "repo-62" :stars 286 :active true}
  {:id 63 :name "repo-63" :stars 289 :active false}
  {:id 64 :name "repo-64" :stars 292 :active true}
  {:id 65 :name "repo-65" :stars 295 :active false}
  {:id 66 :name "repo-66" :stars 298 :active true}
  {:id 67 :name "repo-67" :stars 301 :active false}
  {:id 68 :name "repo-68" :stars 304 :active true}
  {:id 69 :name "repo-69" :stars 307 :active false}
  {:id 70 :name "repo-70" :stars 310 :active true}
  {:id 71 :name "repo-71" :stars 313 :active false}
  {:id 72 :name "repo-72" :stars 316 :active true}
  {:id 73 :name "repo-73" :stars 319 :active false}
  {:id 74 :name "repo-74" :stars 322 :active true}
  {:id 75 :name "repo-75" :stars 325 :active false}
  {:id 76 :name "repo-76" :stars 328 :active true}
  {:id 77 :name "repo-77" :stars 331 :active false}
  {:id 78 :name "repo-78" :stars 334 :active true}
  {:id 79 :name "repo-79" :stars 337 :active false}
  {:id 80 :name "repo-80" :stars 340 :active true}
  {:id 81 :name "repo-81" :stars 343 :active false}
  {:id 82 :name "repo-82" :stars 346 :active true}
  {:id 83 :name "repo-83" :stars 349 :active false}
  {:id 84 :name "repo-84" :stars 352 :active true}
  {:id 85 :name "repo-85" :stars 355 :active false}
  {:id 86 :name "repo-86" :stars 358 :active true}
  {:id 87 :name "repo-87" :stars 361 :active false}
  {:id 88 :name "repo-88" :stars 364 :active true}
 ]
 :meta {:owner "gitcode-viewer" :format :edn}}
